.home {
  background-image: url(../images/left-arrow.svg);
  background-repeat: no-repeat;
  position: fixed;
  bottom: 60px;
  right: 40px;
  height: 40px;
  width: 40px;
  opacity: 0.6;

  &:hover {
    opacity: 1;

  }

  @include media-query($on-tablet) {
    height: 50px;
    width: 50px;
    opacity: 0.8;
    top: 50px;
    left: 50px;

  }
}

.lj {
  position: relative;
  background-image: url(../images/lj.png);
  background-size: 120px 120px;
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: 20px;
  height: 150px;


  @include media-query($on-tablet) {
    margin: 0 auto;

    background-image: url(../images/lj.png);
    height: 140px;
    width: 580px;

  }

  @include media-query($on-desktop) {
    height: 180px;
    width: 180px;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-640px, 90px);
    -ms-transform: translate(-640px, 90px);
    transform: translate(-640px, 90px);

  }
}

.lj > h1 {
  position: absolute;
  bottom:0;
  font-size: 1.2em;
  font-weight: 200;
  width: 100%;
  text-align: center;
  color: rgb(159, 159, 159);

}

.lj > span > span {
  @include media-query($on-tablet) {

  }
}
