.home {
  background-image: url(../images/left-arrow.svg);
  background-repeat: no-repeat;
  position: fixed;
  bottom: 60px;
  right: 40px;
  height: 40px;
  width: 40px;
  opacity: 0.4;
  z-index: 1;

  &:hover {
    opacity: .9;

  }

  @include media-query($on-tablet) {
    height: 50px;
    width: 50px;
    opacity: 0.8;
    top: 70px;
    left: 50px;

  }

  @include media-query($on-laptop) {
    top: 130px;

  }

  @include media-query($on-desktop) {
    background-position: left;
    background-size: 14px 14px;
    position: fixed;
    top: 320px;
    left: 50%;
    -webkit-transform: translate(-575px, 0);
    -ms-transform: translate(-575px, 0);
    transform: translate(-605px, 0);
    width: 100px;


  }
}

.home > span {
  display: none;

  @include media-query($on-desktop) {
    font-size: 1.45em;
    font-weight: 300;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
  }
}


.lj {
  position: relative;
  background-image: url(../images/lj.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 120px 120px;
  height: 150px;

  @include media-query($on-laptop) {
    height: 220px;
    background-size: 180px 180px;

  }

  @include media-query($on-desktop) {
    height: 220px;
    width: 180px;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-640px, 90px);
    -ms-transform: translate(-640px, 90px);
    transform: translate(-640px, 90px);

  }
}

.lj > h1 {
  position: absolute;
  bottom:0;
  font-size: 1.2em;
  font-weight: 200;
  width: 100%;
  text-align: center;
  color: rgb(159, 159, 159);

  @include media-query($on-laptop) {
    font-size: 1.6em;

  }
}
