.headline, .meta {
  @include media-query($on-tablet) {
    text-align: center;

  }
}

.headline {
  margin-top: 20px;
  font-size: 2.4em;
  line-height: 0.85em;

  @include media-query($on-tablet) {
    font-size: 3em;

  }

  @include media-query($on-laptop) {
    font-size: 4em;

  }

  @include media-query($on-desktop) {
    text-align: left;
    font-size: 5em;

  }
}

.meta {
  color: $grey-color;
  font-style: italic;
  margin-bottom: 10px;

  @include media-query($on-tablet) {
    margin-bottom: 20px;

  }

  @include media-query($on-desktop) {
    margin-bottom: 60px;
    text-align: left;

  }
}

.spacer {
  height: $spacing-unit;

}

.post a {
  color: $text-color;
  text-decoration: none;
  background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
  -webkit-transition: box-shadow ease 1s;
  -moz-transition: box-shadow ease 1s;
  transition: box-shadow ease 1s;

  &:hover {
    color: lighten($hover-color, 50%);
    box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);

  }
}
