html {
  background: url($background-image-url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  max-width: 100%;
  font-family: $base-font-family;
  margin: 0 auto;
  line-height: $base-line-height;
  font-size: $base-font-size;
  color: $text-color;
  padding: 1em;
  text-rendering: optimizeLegibility;
  height: 100%;

  @include media-query($on-laptop) {
    padding-top: 3em;
    max-width: $content-width;
  }

  @include media-query($on-desktop) {
    padding-top: 160px;
    max-width: $content-width;
  }


}

h1,h2,h3,h4,h5,h6 {
   font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
   font-weight: bold;
   margin: 0;
   text-transform: capitalize;
}


a {
  color: $brand-color;
  text-decoration: none;
  &:hover{
    background-color: $brand-color-dark;
    color: $text-color;
  }
}



p a {
  color: $text-color;
  text-decoration: none;
  background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
  -webkit-transition: box-shadow ease 1s;
  -moz-transition: box-shadow ease 1s;
  transition: box-shadow ease 1s;
  &:hover {
    color: lighten($hover-color, 50%);
    box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);
  }
}


figure {
  margin: 0;
}

img {
  max-width: 100%;
}

pre,
code {
  overflow: auto;
  font-size: 0.7*$base-font-size;
  border-radius: 3px;
  border: 1px solid $brand-color;
  > code {
      border: none;
  }
}
pre {
  padding: 1em;
}
code {
  padding: 0.1em;
}
blockquote {
  border-left: 2px solid $brand-color;
  padding-left: 1em;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 0.9*$base-font-size;
  font-style: italic;
}

dt {
  font-weight: bold;
}

footer {
  margin-top:40px;

  @include media-query($on-tablet) {
    margin-top: 120px;
  }
}


.home {
  background-image: url(../images/left-arrow.svg);
  background-repeat: no-repeat;
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 30px;
  width: 30px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  @include media-query($on-tablet) {
    height: 40px;
    width: 40px;
    opacity: 0.9;
    top: 50px;
    left: 50px;
  }

}

.lj {
  background-image: url(../images/lj.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 120px;
  width: 120px;

  @include media-query($on-tablet) {
    background-image: url(../images/lj.png);
    height: 140px;
    width: 140px;
  }

  @include media-query($on-desktop) {
    height: 180px;
    width: 180px;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-640px, 110px);
    -ms-transform: translate(-640px, 110px);
    transform: translate(-640px, 110px);
  }
}

.github-link::before {
  font-family: 'FontAwesome';
  content: "\f09b";
  font-size: 1.8em;
  padding-right:.3em;
  margin-top: -.05em;
  display: inline-block;
  vertical-align: middle;
}

.video {
  width: 100%;
  height: 180px;

  @include media-query($on-tablet) {
    height: 300px;
  }

  @include media-query($on-laptop) {
    height: 360px;
  }
}

.headline, .meta {
  @include media-query($on-tablet) {
    text-align: center;
  }
}

.headline {
  font-size: 2.4em;
  line-height: 0.85em;

  @include media-query($on-tablet) {
    font-size: 3em;
  }

  @include media-query($on-laptop) {
    font-size: 4em;
  }

  @include media-query($on-desktop) {
    text-align: left;
    font-size: 5em;
  }

}

.meta {
  color: $grey-color;
  font-style: italic;
  margin-bottom: 20px;

  @include media-query($on-tablet) {
    margin-bottom: 60px;
  }
  @include media-query($on-desktop) {
    text-align: left;
  }
}






// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}

// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $brand-color;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}
